# Dependencies
node_modules/

# Production build output
build/
dist/

# Environment files
.env

# Logs
npm-debug.log*
yarn-error.log*
*.log

# Testing
coverage/
*.test.js
*.spec.js

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Misc
*.bak
*.tmp
