# Node modules
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-error.log*
*.log

# Build or dist
dist/
coverage/

# System files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak

# IDE folders
.vscode/
.idea/
